<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/main.css">
</head>

<body>
  <%- yield %>
  
  <footer><p>Copyright &copy; <%= new Date().getFullYear() %></p></footer>  

</body>
</html>