<html>
  <head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
  
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <title><%- title %></title>
</head>

<body>
   <div class="container">
  	<%- yield %>
      
    <% if(current.source != "index") { %>
      <p>
      <a href="/">Home</a>  
      </p>
    <% } %>
   </div>
</body>
</html>

